@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;     
}

body{
    background-image: linear-gradient(to right,#E4F2E7, #97A6A0 );
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 10px 5px 15px #36474475
}

h1{
    color:#2D3E40 ;
    text-align: center;
    text-shadow: 1px 1px 2px #97A6A0 ;
}

h2
{color:#387373 ;}

p { 
    text-align: justify;
}
