@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(217, 224, 224);
}

header {
    background-color: grey;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color:rgb(41, 40, 40);
    color: white;
    display: block;        
    padding: 10px;    
    text-align: center;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}



menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(114, 112, 112);
    border: 1.5px solid rgb(185, 180, 180);

    
}

menu > ul > li > a:hover {
    background-color: grey;
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;  
    margin-top: 10px;  
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

