@charset "UTF-8";


/*Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgrey;
}

header > h1 {
    text-align: center;
}

menu > ul> li {
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: rgb(63, 60, 60);
}

menu > ul {
    list-style-type: none;
    background-color: grey;
}

article {
    width: 500px;
    display: block;
    margin: auto;
}