@charset "UTF-8";

/* Todas as demais medias */

/* Typical device brakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px
*/



/* Não foi preciso fazer a configuração de media Query para pequenas telas e celular, pois este projeto já tem a configuração Mobile First, ou seja, já está atendendo até 768px com a configuração inicial do arquivo style.css*/

@media print {/*impressão*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid grey;
        width: 90vw;
    }

    main > h1 {
        text-decoration: none;
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Esta impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }
    

    
}


@media screen and (min-width:768px) and (max-width: 992px) {/*tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
    img#print{display: none;}

}

@media screen and (min-width: 992px) and (max-width: 1200px){/*Desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    img#print{display: none;}


}

@media screen and (min-width: 1200px) {
    /*Grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 900px;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    img#print{display: none;}
}



